CLOUDKIT_JOURNAL_BUNDLE_ID=com.partystack.journal
CLOUDKIT_CONTAINER_ID=iCloud.com.partystack.journal
CLOUDKIT_APPLE_TEAM_ID=AG2FP45B4L
CLOUDKIT_ENVIRONMENT=development
EXPO_PUBLIC_CLOUDKIT_CONTAINER_ID=iCloud.com.partystack.journal
EXPO_PUBLIC_CLOUDKIT_ENVIRONMENT=development
EXPO_PUBLIC_CLOUDKIT_API_TOKEN=
